.wrapper{
    width: 100%;
    min-height: 10px;
   display: grid;
   place-items: center;padding: 20px 0;
}

.background{
    position: absolute;
    
}

@media screen and (max-width: 640px) {
    .wrapper{
        display: block;
    }
}